@import url(reset.css);
@import url(screens/login.css);
@import url(screens/friends.css);
@import url(screens/find.css);
@import url(screens/more.css);
@import url(screens/settings.css);
@import url(screens/chat.css);
@import url(components/nav-bar.css);
@import url(components/screen-header.css);
@import url(components/user-component.css);
@import url(components/badge.css);
@import url(components/alternative-screen-header.css);

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #2e363e;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
